
<div>

    <br/>
    <h4 style="display:inline;">Stimmst du der neuen Geschäftsordnung der Fachschaft MSE zu?</h4><br/>
    <input type="checkbox" disabled readonly style="display:inline;" {% if election["ja"] %} checked="checked" {% endif %}/>
    <p style="display:inline;">Ja</p><br/>
    <input type="checkbox" disabled readonly style="display:inline;" {% if election["nein"] %} checked="checked" {% endif %}/>
    <p style="display:inline;">Nein</p><br/>
    <input type="checkbox" disabled readonly style="display:inline;" {% if election["enthaltung"] %} checked="checked" {% endif %}/>
    <p style="display:inline;">Ich enthalte mich</p><br/>

    <br/>

</div>