# documentation: https://coverage.readthedocs.io/en/latest/config.html#

[run]
include =
    app/__init__.py
    app/credentials.py
    app/main.py
    app/survey.py
    app/validation.py
    app/mailing.py
    app/results.py
