name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install poetry
      uses: snok/install-poetry@v1.1.1
    - name: Install Python Dependencies
      run: poetry install
    - name: Test with pytest
      run: poetry run pytest --cov=app --cov-report=term-missing --cov-report=xml tests
      env:
        ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
        FRONTEND_URL: ${{ secrets.FRONTEND_URL }}
        BACKEND_URL: ${{ secrets.BACKEND_URL }}
        PUBLIC_RSA_KEY: ${{ secrets.PUBLIC_RSA_KEY }}
        PRIVATE_RSA_KEY: ${{ secrets.PRIVATE_RSA_KEY }}
        MONGODB_CONNECTION_STRING: ${{ secrets.MONGODB_CONNECTION_STRING }}
        MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
    - name: Push Coverage Report to CodeClimate
      uses: paambaati/codeclimate-action@v2.3.0
      env:
        CC_TEST_REPORTER_ID: 3298667b78909cd0b6566313fce031e23d17c5efc5aa6d1cc8d3c10ce2ef2e9a
      with:
        coverageCommand: true
